* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* navigation */

.navigation {
  background-color: #000000;
  width: 100%;
  text-align: center;
  position: fixed;
}

.navigation .nav li .active {
  background-color: #ba8e25;
}

.navigation .nav li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}

.navigation .nav li:hover {
  background-color: gray;
}


.navigation .nav li a {
  color: white;
  padding: 1rem;
}

/* films */
.films-container {
  padding-top: 4rem;
}

.films-container .card {
  min-width: 30%;
  max-width: 30%;
  padding: 15px;
  display: inline-block;
  box-shadow: gray 5px 4px 9px 0px;
  margin: 7px;
}

.films-container .card .thumbnail {
  width: 100%;
}

.films-container .card .thumbnail img {
  width: 100%;
}

.films-container .card .content p {
  margin-bottom: 5px;
}

.films-container .card .content p a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 3px;
}

.films-container .card .content p a:hover {
  background-color: gray;
}

/* Footer */
.footer-container {
  background-color: #000000;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}